
body {
    background-color: white;
}

/* navbar */
.navbar {
    background-color: #EB0A1E;
}
.no-link-style {
    color:white !important;
    font-family: 'Orbitron', sans-serif;
}

.no-link-style:hover {
    color: #000000 !important;
}

/* fine navbar */

/* freccie get_track_data */
.arrow {
    color:rgb(220, 217, 217);
    border: none;
}

.arrow:hover{
    color: black;
    border: none;
}

.arrow:active {
    transform: scale(0.95);
}

/* fine freccie get_track_data */