
body {
    background-color: white;
}

/* navbar */
.navbar {
    background-color: #EB0A1E;
}
.no-link-style {
    color:white !important;
    font-family: 'Orbitron', sans-serif;
}

.no-link-style:hover {
    color: #000000 !important;
}
  