<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    
    <!-- Google fonts-->
    <link href="https://fonts.googleapis.com/css2?family=Orbitron&display=swap" rel="stylesheet">
    
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-SgOJa3DmI69IUzQ2PVdRZhwQ+dy64/BUtbMJw1MZ8t5HZApcHrRKUc4W0kG879m7" crossorigin="anonymous">
    
    <link rel="stylesheet" href="static/css/style.css">
    
    <title>F1 Dashboard</title>
</head>
<body>

    <!-- Navbar Bootstrap -->
    <nav class="navbar navbar-expand-lg">
        <div class="container-fluid">
            <!-- Titolo cliccabile -->
            <a class="navbar-brand no-link-style" href="{{ url_for('home') }}" style="text-decoration: none;">F1 Dashboard</a>

            <!-- Bottone per menu su schermi piccoli -->
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
              aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>

            <!-- Link di navigazione -->
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto"> <!-- allineamento a destra -->
                    <li class="nav-item">
                        <a class="nav-link no-link-style" href="#">Telemetria</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link no-link-style" href="{{ url_for('classifica') }}">Classifica</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link no-link-style" href="{{ url_for('gare') }}">Gare</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- Fine Navbar Bootstrap -->
    
    <h1 class="text-center mt-4">Risultati GP</h1>

    <div class="container mt-5">
        {% if dati %}
            <div class="card">
                
                <div class="card-body d-flex justify-content-between align-items-center">
                    <input type="hidden" id="year" value="{{ dati["Year"] }}">
                    <input type="hidden" id="track" value="{{ dati["Location"] }}">
                    <input type="hidden"  id="session" value="{{dati["Session"]}}">

                    <div class="text-content">
                        <h4 class="card-title">{{ dati["EventName"] }}</h4>
                        <p><strong>Località:</strong> {{ dati["Location"] }}</p>
                        <p><strong>Nazione:</strong> {{ dati["Country"] }}</p>
                        <p><strong>Round:</strong> {{ dati["RoundNumber"] }}</p>
                    </div>
                    <div class="image-content ms-3 card">
                        <img src="static/img/{{ dati["Location"]|lower|replace(' ', '_')|replace('-', '_') }}.svg" alt="{{ dati["Location"] }}" class="img-fluid rounded" style="max-width: 200px;">
                    </div>
                </div>
                
                <hr>

                <div class="d-flex align-items-center justify-content-center">
                    <button id="prevSession" type="button" class="btn btn-sm me-2 arrow" style="font-size:50px">&lt;</button>
                    
                    {% if session_type == "R" %}
                        <h3 class="mb-0 text-center">Gara</h3>
                    {% elif session_type == "Q" %}
                        <h3 class="mb-0 text-center">Qualifica</h3>
                    {% elif session_type == "S" %}
                        <h3 class="mb-0 text-center">Sprint</h3>
                    {% elif session_type == "SQ" %}
                        <h3 class="mb-0 text-center">Qualifica Sprint</h3>
                    {% else %}
                        <h3 class="mb-0 text-center">{{session_type}}</h3>
                    {% endif%}

                    <button id="nextSession" type="button" class="btn btn-sm ms-2 arrow" style="font-size:50px">&gt;</button>
                </div>
                {% if lista_risultati and (session_type != "Q" and session_type != "SQ") %}

                    <table class="table table-borderless">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">N.</th>
                                <th scope="col">Driver</th>
                                <th scope="col">Car</th>
                                <th scope="col">Time</th>

                                {% if "FP" not in session_type %}
                                    <th scope="col">Points</th>
                                {% endif %}
                            </tr>
                        </thead>
                            <tbody>
                                {% for r in lista_risultati %}
                                <tr>
                                <th scope="row">{{ r.position }}</th>
                                <td>{{ r.driver_number }}</td>
                                <td>{{ r.driver_name }}</td>
                                <td>{{ r.team }}</td>

                                {% if r.time == "" %}
                                    <td>{{ r.status }}</td>
                                {% elif r.position != 1 and r.time != "" and (session_type == "R" or session_type == "S") %}
                                    <td>+{{ r.time[3::] }}</td>
                                {% else %}
                                    <td>{{ r.time }}</td>
                                {% endif %}

                                    <td>{{ r.points }}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                    </table>
                    

                {% elif lista_risultati and (session_type == "Q" or session_type == "SQ") %}
                    <table class="table table-borderless">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">N.</th>
                                <th scope="col">Driver</th>
                                <th scope="col">Car</th>
                                <th scope="col">Q1</th>
                                <th scope="col">Q2</th>
                                <th scope="col">Q3</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for r in lista_risultati %}
                            <tr>
                            <th scope="row">{{ r.position }}</th>
                            <td>{{ r.driver_number }}</td>
                            <td>{{ r.driver_name }}</td>
                            <td>{{ r.team }}</td>

                            {% if r.time == "" %}
                                <td>{{ r.status }}</td>
                            {% elif r.position != 1 and r.time != "" and (session_type == "R" or session_type == "S") %}
                                <td>+{{ r.time[3::] }}</td>
                            {% else %}
                                <td>{{ r.Q1}}</td>
                            {% endif %}

                            <td>{{ r.Q2}}</td>
                            <td>{{ r.Q3}}</td>

                                <td>{{ r.points }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>


                {% else %}
                <script src="static/js/session_selection.js">
                    index += 1;
                    updateSession();
                </script>
                <h2 class="alert alert-warning text-center" role="alert">
                    DATI NON DISPONIBILI
                </h2>
                {% endif%}
            </div>
        {% else %}
            <div class="alert alert-warning" role="alert">
                Nessun dato disponibile!
            </div>
        {% endif %}
    </div>
    
    <!-- Bootstrap JS (necessario per navbar responsive e componenti dinamici) -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/js/bootstrap.bundle.min.js" integrity="sha384-YLONBMeGVuI6jCT1bOQeJ1IXiDhPQIzHoWR0tXbwazUNvF3my/eqn+9Hu6Z8YwnP" crossorigin="anonymous"></script>
    <script src="static/js/session_selection.js"></script>
</body>
</html>