<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    
    <!-- Google fonts-->
    <link href="https://fonts.googleapis.com/css2?family=Orbitron&display=swap" rel="stylesheet">
    
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-SgOJa3DmI69IUzQ2PVdRZhwQ+dy64/BUtbMJw1MZ8t5HZApcHrRKUc4W0kG879m7" crossorigin="anonymous">
    
    <link rel="stylesheet" href="static/css/style.css">
    
    <title>F1 Dashboard</title>
</head>
<body>

    <!-- Navbar Bootstrap -->
    <nav class="navbar navbar-expand-lg">
        <div class="container-fluid">
            <!-- Titolo cliccabile -->
            <a class="navbar-brand no-link-style" href="{{ url_for('home') }}" style="text-decoration: none;">F1 Dashboard</a>

            <!-- Bottone per menu su schermi piccoli -->
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
              aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>

            <!-- Link di navigazione -->
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto"> <!-- allineamento a destra -->
                    <li class="nav-item">
                        <a class="nav-link no-link-style" href="#">Telemetria</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link no-link-style" href="{{ url_for('classifica') }}">Classifica</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link no-link-style" href="{{ url_for('gare') }}">Gare</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- Fine Navbar Bootstrap -->
    <!-- Classifica ultima gara -->
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3">
                <div class="card mini-scroll-box">
                    <div class="card-body p-2">
                        <h6 class="card-title text-center">{{ race_name }}</h6>
                        <div class="scrollable-table">

                            <table class="table table-sm table-striped mb-0 text-center">
                            <thead>
                                <tr>
                                    <th>N.</th>
                                    <th>Driver</th>
                                    <th>Time</th>
                                </tr>
                            </thead>
                            
                            {% for i in last_race_result %}
                            <tbody>
                                <tr>
                                    <td>{{ i.position }}</td>
                                    <td>{{ i.driver_code }}</td>

                                    {% if i.position != 1 and i.time != "" %}
                                    <td>+{{ i.time[3::] }}</td>
                                    {% elif i.time == "" %}
                                    <td>{{ i.status }}</td>
                                    {% else %}
                                    <td>{{ i.time }}</td>
                                    {% endif %}

                                </tr>               
                            </tbody>
                            {% endfor %}

                            </table>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Classifica ultima gara -->
     
    <!-- Bootstrap JS (necessario per navbar responsive e componenti dinamici) -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/js/bootstrap.bundle.min.js" integrity="sha384-YLONBMeGVuI6jCT1bOQeJ1IXiDhPQIzHoWR0tXbwazUNvF3my/eqn+9Hu6Z8YwnP" crossorigin="anonymous"></script>

</body>
</html>